backups/mesa-1.15.2.zip filter=lfs diff=lfs merge=lfs -text
backups/vanilla-1.16.1.zip filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/FastLogin.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/HubBasics-Spigot.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/LuckPerms-Bukkit-5.0.94.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Multiverse-NetherPortals-4.1.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/TitleWelcomeMessage-3.3.3.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/worldedit-bukkit-7.1.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/worldguard-bukkit-7.0.2.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/EssentialsXChat-2.17.2.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/AuthMe-5.6.0-SNAPSHOT.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Multiverse-Inventories-3.0.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/ProtocolLib.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Vault.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/AntiCooldown.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/EssentialsXSpawn-2.17.2.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Multiverse-Core-4.1.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Multiverse-SignPortals-4.1.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/PvPManager.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/ServerRestorer.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/EssentialsX-2.17.2.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/KitPvP.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Multiverse-Portals-4.1.0.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/ServerListPlus-3.4.8-Universal.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/Clearlag.jar filter=lfs diff=lfs merge=lfs -text
plugins/1.15.2-R0.1-SNAPSHOT/WorldEdit/js.jar filter=lfs diff=lfs merge=lfs -text
assets/server-icon.png filter=lfs diff=lfs merge=lfs -text
assets/resource_packs/1.16.1/bettervanillabuilding2.29.1.zip filter=lfs diff=lfs merge=lfs -text
assets/resource_packs/1.16.1/Faithful-1.16-s2.zip filter=lfs diff=lfs merge=lfs -text
assets/maps/SkyBlock-Map.zip filter=lfs diff=lfs merge=lfs -text
assets/maps/super_hostile/Super_Hostile_01_-_Sea_of_Flame_II_v3.0.zip filter=lfs diff=lfs merge=lfs -text
